.group-child71 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: rgba(217, 217, 217, 0.5);
  width: 68.375rem;
  height: 46.188rem;
}
.undraw-interview-re-e5jn-1-icon {
  position: absolute;
  top: 16.188rem;
  left: 35.438rem;
  width: 29.119rem;
  height: 22.125rem;
  overflow: hidden;
}
.the-most-interesting {
  position: absolute;
  top: 7rem;
  left: 4.063rem;
  font-size: var(--font-size-11xl);
  line-height: 3.25rem;
  font-weight: 600;
  display: inline-block;
  width: 29.5rem;
}
.span4 {
  color: var(--color-cornflowerblue-200);
}
.lucida-technologies {
  font-size: var(--font-size-9xl);
  color: var(--color-cornflowerblue-100);
}
.get-in-touch-container {
  position: absolute;
  top: 3.194rem;
  left: 4.063rem;
  font-weight: 700;
  color: var(--color-cornflowerblue-300);
}
.group-child72 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  width: 26.938rem;
  height: 3.75rem;
}
.phone {
  position: absolute;
  top: 0.938rem;
  left: calc(50% - 187.5px);
}
.rectangle-parent26 {
  top: 5.875rem;
  height: 3.75rem;
}
.group-child74,
.rectangle-parent26,
.rectangle-parent27 {
  position: absolute;
  left: 0;
  width: 26.938rem;
}
.rectangle-parent27 {
  top: 11.75rem;
  height: 3.75rem;
}
.group-child74 {
  top: 0;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  height: 8.625rem;
}
.optional {
  position: absolute;
  top: 1.063rem;
  left: calc(50% - 85.5px);
  font-size: var(--font-size-xl);
}
.rectangle-parent28 {
  position: absolute;
  top: 17.625rem;
  left: 0;
  width: 26.938rem;
  height: 8.625rem;
}
.rectangle-parent29 {
  top: 0;
  left: 0;
  height: 3.75rem;
}
.group-child76,
.group-parent40,
.rectangle-parent29 {
  position: absolute;
  width: 26.938rem;
}
.group-parent40 {
  top: 18.25rem;
  left: 4.063rem;
  height: 26.25rem;
  color: var(--color-lightslategray-200);
}
.group-child76 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-500);
  height: 3.75rem;
}
.join-us {
  position: absolute;
  top: 0.938rem;
  left: calc(50% - 39.5px);
}
.rectangle-parent30 {
  position: absolute;
  top: 40.75rem;
  left: 36.5rem;
  width: 26.938rem;
  height: 3.75rem;
  color: var(--white);
}
.rectangle-parent25 {
  position: absolute;
  top: 11.5rem;
  left: 5.813rem;
  width: 68.375rem;
  height: 46.188rem;
}
.lucida-considers-product {
  position: absolute;
  top: 5.438rem;
  left: calc(50% - 578px);
  font-size: var(--font-size-7xl);
  letter-spacing: 0.03em;
  font-weight: 500;
  color: var(--color-gray-700);
  display: inline-block;
  width: 69rem;
}
.we-leverage-our {
  margin: 0;
}
.we-leverage-our-container {
  position: absolute;
  top: 8.125rem;
  left: calc(50% - 578px);
  line-height: 3.75rem;
  color: var(--color-gray-700);
  display: inline-block;
  width: 30.313rem;
}
.group-child77,
.group-child78 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.group-child77 {
  height: 72.26%;
  top: 0;
  bottom: 27.74%;
  border-radius: 7.46px 7.46px 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child78 {
  height: 27.77%;
  top: 72.26%;
  bottom: -0.04%;
  border-radius: 0 0 7.46px 7.46px;
  border-right: 2px solid var(--color-cornflowerblue-100);
  border-bottom: 2px solid var(--color-cornflowerblue-100);
  border-left: 2px solid var(--color-cornflowerblue-100);
  box-sizing: border-box;
}
.uiux-design {
  position: absolute;
  top: 81.14%;
  left: 24.38%;
}
.group-child79,
.rectangle-parent31 {
  position: absolute;
  height: 100%;
  width: 23.76%;
  top: 0;
  right: 76.24%;
  bottom: 0;
  left: 0;
}
.group-child79 {
  height: 72.26%;
  width: 100%;
  right: 0;
  bottom: 27.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.full-stack {
  position: absolute;
  top: 81.14%;
  left: 31.92%;
}
.rectangle-parent32 {
  position: absolute;
  height: 100%;
  width: 23.76%;
  top: 0;
  right: 25.39%;
  bottom: 0;
  left: 50.85%;
}
.big-data {
  position: absolute;
  top: 81.14%;
  left: 32.96%;
}
.rectangle-parent33 {
  position: absolute;
  height: 100%;
  width: 23.76%;
  top: 0;
  right: 50.86%;
  bottom: 0;
  left: 25.38%;
}
.artificial-intelligence {
  position: absolute;
  top: 81.14%;
  left: 10.77%;
}
.group-parent41,
.rectangle-parent34 {
  position: absolute;
  height: 100%;
  width: 23.76%;
  top: 0;
  right: 0.01%;
  bottom: 0;
  left: 76.23%;
}
.group-parent41 {
  width: 97.67%;
  right: 2.33%;
  left: 0;
}
.carrerscomponent-child {
  position: absolute;
  height: 20.64%;
  width: 4.83%;
  top: 35.94%;
  right: 0;
  bottom: 43.42%;
  left: 95.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.carrerscomponent {
  position: absolute;
  top: 50.063rem;
  left: calc(50% - 600px);
  width: 75rem;
  height: 17.531rem;
  text-align: left;
  font-size: var(--font-size-3xl-4);
}
.group-child85 {
  position: absolute;
  top: 10.938rem;
  left: 37.5rem;
  border-radius: var(--br-5xl);
  width: 35.688rem;
  height: 29.688rem;
  object-fit: cover;
}
.group-child86,
.group-child87 {
  position: absolute;
  box-sizing: border-box;
}
.group-child86 {
  top: 0;
  left: calc(50% - 244.5px);
  border-radius: 14.11px;
  background-color: var(--white);
  border: 2.5px solid var(--color-cornflowerblue-100);
  width: 30.563rem;
  height: 3.088rem;
}
.group-child87 {
  top: 0.15rem;
  right: 0.213rem;
  border-radius: 1.18px 14.11px 14.11px 1.18px;
  background-color: var(--color-cornflowerblue-100);
  border: 2.4px solid var(--white);
  width: 4.338rem;
  height: 2.794rem;
}
.group-child88 {
  position: absolute;
  top: 0.663rem;
  left: calc(50% + 191.6px);
  width: 1.838rem;
  height: 1.838rem;
}
.find-your-designation {
  position: absolute;
  top: 0.081rem;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 2.939rem;
  font-weight: 500;
  display: inline-block;
  width: 16.75rem;
}
.careers,
.categories,
.rectangle-parent35 {
  position: absolute;
  font-family: var(--font-inter);
}
.rectangle-parent35 {
  top: 37.563rem;
  left: calc(50% - 578px);
  width: 30.563rem;
  height: 3.088rem;
  font-size: var(--font-size-xl);
  color: rgba(14, 71, 200, 0.7);
}
.careers,
.categories {
  top: 68.33%;
  left: calc(50% - 596px);
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: left;
}
.careers {
  top: 0;
  left: calc(50% - 42px);
  font-size: var(--font-size-13xl);
  font-weight: 600;
}
.lucida-considers-product-devel-parent {
  position: absolute;
  top: 62.688rem;
  left: calc(50% - 598px);
  width: 75rem;
  height: 67.594rem;
  text-align: center;
  font-size: var(--font-size-9xl);
}
.lucidas-chat-bot7 {
  position: absolute;
  top: 0.625rem;
  left: 4.719rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 11.581rem;
  height: 1.875rem;
}
.avatar-icon7 {
  position: absolute;
  top: 0;
  left: 0.006rem;
  border-radius: 118.51px;
  width: 2.963rem;
  height: 2.963rem;
  object-fit: cover;
}
.lucidas-chat-bot-parent5 {
  position: absolute;
  top: calc(50% - 28.25px);
  left: 1.875rem;
  width: 2.981rem;
  height: 2.981rem;
}
.chatbot7 {
  position: absolute;
  top: 50.138rem;
  left: 51.763rem;
  box-shadow: -4.4px -6.7px 4.44px rgba(121, 124, 208, 0.4),
    4.4px 6.7px 4.44px rgba(121, 124, 208, 0.4);
  border-radius: var(--br-3xl-2);
  background-color: var(--color-cornflowerblue-100);
  width: 25.731rem;
  height: 7.281rem;
  overflow-y: auto;
  font-size: var(--font-size-5xl-4);
  color: var(--white);
  font-family: var(--font-lato);
}
.home7 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 31.5px);
  line-height: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 1.25rem;
  cursor: pointer;
}
.list-item-link35 {
  position: absolute;
  width: calc(100% - 768px);
  top: 0;
  right: 47.813rem;
  left: 0.188rem;
  border-radius: var(--br-xl);
  height: 2.875rem;
  overflow: hidden;
}
.about-us7 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 39.5px);
  line-height: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.875rem;
  height: 1.25rem;
  cursor: pointer;
}
.list-item-link36 {
  position: absolute;
  width: calc(100% - 766px);
  top: 0;
  right: 35.875rem;
  left: 12rem;
  border-radius: var(--br-11xl);
  height: 2.875rem;
  overflow: hidden;
}
.solutions7 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 42.5px);
  line-height: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.313rem;
  height: 1.25rem;
  cursor: pointer;
}
.list-item-link37 {
  position: absolute;
  top: 0;
  left: calc(50% - 51.5px);
  border-radius: var(--br-11xl);
  width: 6.563rem;
  height: 2.875rem;
  overflow: hidden;
}
.resources7 {
  position: absolute;
  top: calc(50% - 13.5px);
  left: calc(50% - 42.5px);
  line-height: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.313rem;
  height: 1.25rem;
  cursor: pointer;
}
.list-item-link38 {
  position: absolute;
  top: -0.062rem;
  left: calc(50% + 141.5px);
  border-radius: var(--br-11xl);
  width: 6.563rem;
  height: 2.938rem;
  overflow: hidden;
}
.contact8 {
  position: absolute;
  top: 0.625rem;
  left: calc(50% - 40px);
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1.25rem;
}
.list-item-link-child4 {
  position: absolute;
  top: 2.125rem;
  left: 2.75rem;
  border-radius: 50%;
  background-color: var(--color-cornflowerblue-100);
  width: 0.75rem;
  height: 0.75rem;
}
.list-item-link39 {
  position: absolute;
  width: calc(100% - 769px);
  top: 0;
  right: 0;
  left: 48.063rem;
  border-radius: var(--br-11xl);
  height: 2.875rem;
  overflow: hidden;
  color: var(--color-cornflowerblue-100);
}
.divnavbar7 {
  position: absolute;
  top: calc(50% - 19px);
  left: 22.938rem;
  width: 54.313rem;
  height: 2.5rem;
}
.link-logopng7 {
  position: absolute;
  width: calc(100% - 1117px);
  top: calc(50% - 47px);
  right: 67.313rem;
  left: 2.5rem;
  max-width: 100%;
  overflow: hidden;
  height: 6.063rem;
  object-fit: cover;
}
.divnavbar-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(121, 124, 208, 0.3);
  background-color: var(--white);
  width: 80rem;
  height: 7.5rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-karla);
}
.contact7 {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 141.813rem;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-cornflowerblue-100);
  font-family: var(--font-mulish);
}
