.lucida-aboutus-child {
  position: absolute;
  top: 10.688rem;
  left: calc(50% - 600px);
  border-radius: var(--br-xl);
  width: 75rem;
  height: 26.688rem;
  object-fit: cover;
}
.group-child31 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: -1.5px -1.5px 4.48px rgba(26, 39, 71, 0.3),
    1.5px 1.5px 4.48px rgba(26, 39, 71, 0.3);
  border-radius: 14.94px;
  background-color: var(--white);
  width: 20.544rem;
  height: 21.338rem;
}
.ramachandran-subramanian-ramc {
  position: absolute;
  top: 0;
  left: calc(50% - 164px);
  line-height: 1.125rem;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 20.5rem;
  height: 2.125rem;
}
.over-30-years {
  margin: 0;
  white-space: pre-wrap;
}
.experience-with-organizations {
  margin: 0;
}
.over-30-years-container1 {
  width: 100%;
}
.ceo,
.over-30-years-container {
  position: absolute;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.over-30-years-container {
  top: 5.531rem;
  left: calc(50% - 149px);
  font-size: var(--font-size-sm-3);
  line-height: 1.296rem;
  color: var(--color-gray-700);
  width: 18.625rem;
  height: 3.875rem;
}
.ceo {
  top: 0;
  left: calc(50% - 7.5px);
  line-height: 0.934rem;
  width: 3.019rem;
  height: 1.344rem;
}
.group-icon4 {
  position: absolute;
  height: 80%;
  width: 25.61%;
  top: 9.77%;
  right: 74.39%;
  bottom: 10.23%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ceo-parent {
  position: absolute;
  top: 2.688rem;
  left: calc(50% - 41px);
  width: 5.1rem;
  height: 1.344rem;
  color: var(--color-gray-200);
}
.ramachandran-subramanian-ramc-parent {
  position: absolute;
  top: 11.013rem;
  left: calc(50% - 164px);
  width: 20.5rem;
  height: 9.406rem;
}
.frame-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 59.8px);
  border-radius: 0 0 44.83px 44.83px;
  width: 7.563rem;
  height: 10.275rem;
  overflow: hidden;
}
.group-parent31 {
  position: absolute;
  top: 0;
  left: calc(50% - 163.95px);
  width: 20.5rem;
  height: 20.413rem;
}
.rectangle-parent11 {
  position: absolute;
  top: 0;
  left: 27.225rem;
  width: 20.544rem;
  height: 21.338rem;
}
.banu-prakash-c,
.co-founder-and-cto,
.software-architect-with {
  position: absolute;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.banu-prakash-c {
  top: 0;
  left: calc(50% - 164.15px);
  line-height: 0.926rem;
  text-align: center;
  justify-content: center;
  width: 20.519rem;
  height: 1.438rem;
}
.co-founder-and-cto,
.software-architect-with {
  font-weight: 500;
}
.software-architect-with {
  top: 5.5rem;
  left: calc(50% - 141.45px);
  font-size: var(--font-size-3xs);
  line-height: 1.296rem;
  color: var(--color-gray-700);
  width: 17.688rem;
  height: 4.813rem;
}
.co-founder-and-cto {
  top: 0;
  left: calc(50% - 76.15px);
  line-height: 0.926rem;
  width: 11.6rem;
  height: 1.344rem;
}
.group-icon5 {
  position: absolute;
  height: 80%;
  width: 9.55%;
  top: 9.77%;
  right: 90.45%;
  bottom: 10.23%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.co-founder-and-cto-parent {
  position: absolute;
  top: 2.688rem;
  left: calc(50% - 109.45px);
  width: 13.681rem;
  height: 1.344rem;
  color: var(--color-gray-200);
}
.banu-prakash-c-parent {
  position: absolute;
  top: 11.013rem;
  left: calc(50% - 164.15px);
  width: 20.519rem;
  height: 10.313rem;
}
.group-child33 {
  position: absolute;
  top: 0;
  left: calc(50% - 59.55px);
  border-radius: 0 0 44.83px 44.83px;
  width: 7.563rem;
  height: 10.275rem;
  overflow: hidden;
}
.group-parent32 {
  position: absolute;
  top: 0;
  left: calc(50% - 164.35px);
  width: 20.519rem;
  height: 21.325rem;
}
.rectangle-parent12 {
  position: absolute;
  top: 0;
  left: 54.456rem;
  width: 20.544rem;
  height: 21.338rem;
}
.an-ex-accenture-partner,
.digital-transformation-advisor {
  position: absolute;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.an-ex-accenture-partner {
  top: 5.263rem;
  left: calc(50% - 149.15px);
  font-size: var(--font-size-3xs);
  line-height: 1.296rem;
  color: var(--color-gray-700);
  width: 18.625rem;
  height: 3.813rem;
}
.digital-transformation-advisor {
  top: 0;
  left: calc(50% - 93.5px);
  line-height: 1.125rem;
  width: 13.688rem;
  height: 2rem;
}
.group-icon6 {
  position: absolute;
  height: 53.75%;
  width: 8.33%;
  top: 0.62%;
  right: 91.67%;
  bottom: 45.63%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.digital-transformation-advisor-parent {
  position: absolute;
  top: 2.675rem;
  left: calc(50% - 125.15px);
  width: 15.688rem;
  height: 2rem;
  color: var(--color-gray-200);
}
.suhas-dutta-parent {
  position: absolute;
  top: 10.994rem;
  left: calc(50% - 164.15px);
  width: 20.519rem;
  height: 9.075rem;
}
.group-parent33 {
  position: absolute;
  top: 0;
  left: calc(50% - 164.35px);
  width: 20.519rem;
  height: 20.075rem;
}
.rectangle-parent13 {
  position: absolute;
  top: 24.344rem;
  left: 0;
  width: 20.544rem;
  height: 21.338rem;
}
.over-20-years,
.vp-enterprise-architecture {
  position: absolute;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.over-20-years {
  top: 5.263rem;
  left: calc(50% - 148.75px);
  font-size: var(--font-size-sm-3);
  line-height: 1.296rem;
  color: var(--color-gray-700);
  white-space: pre-wrap;
  width: 18.625rem;
  height: 3.813rem;
}
.vp-enterprise-architecture {
  top: 0;
  left: calc(50% - 112px);
  line-height: 0.926rem;
  width: 16.063rem;
  height: 1.063rem;
}
.group-icon7 {
  position: absolute;
  height: 98.85%;
  width: 7.21%;
  top: 1.15%;
  right: 92.79%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vp-enterprise-architecture-parent {
  position: absolute;
  top: 2.675rem;
  left: calc(50% - 144.75px);
  width: 18.125rem;
  height: 1.088rem;
  color: var(--color-gray-200);
}
.rectangle-parent14 {
  position: absolute;
  top: 24.344rem;
  left: 27.225rem;
  width: 20.544rem;
  height: 21.338rem;
}
.over-22-years,
.vp-analytics-and {
  position: absolute;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.over-22-years {
  top: 5.263rem;
  left: calc(50% - 131.45px);
  font-size: var(--font-size-sm-3);
  line-height: 1.296rem;
  color: var(--color-gray-700);
  width: 16.438rem;
  height: 3.813rem;
}
.vp-analytics-and {
  top: 0;
  left: calc(50% - 122px);
  line-height: 0.926rem;
  width: 17.313rem;
  height: 1.063rem;
}
.group-icon8 {
  position: absolute;
  height: 98.85%;
  width: 6.74%;
  top: 1.15%;
  right: 93.26%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vp-analytics-and-data-science-parent {
  position: absolute;
  top: 2.675rem;
  left: calc(50% - 155.45px);
  width: 19.375rem;
  height: 1.088rem;
  color: var(--color-gray-200);
}
.rectangle-parent15 {
  position: absolute;
  top: 24.344rem;
  left: 54.456rem;
  width: 20.544rem;
  height: 21.338rem;
}
.co-founder-and-coo,
.database-technologies-expert,
.krishnamurthy-nt {
  position: absolute;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.krishnamurthy-nt {
  top: 0;
  left: calc(50% - 164px);
  line-height: 0.934rem;
  text-align: center;
  justify-content: center;
  width: 20.5rem;
  height: 1.438rem;
}
.co-founder-and-coo,
.database-technologies-expert {
  font-weight: 500;
}
.database-technologies-expert {
  top: 5.5rem;
  left: calc(50% - 149px);
  font-size: var(--font-size-sm-3);
  line-height: 1.308rem;
  color: var(--color-gray-700);
  white-space: pre-wrap;
  width: 18.625rem;
  height: 2.563rem;
}
.co-founder-and-coo {
  top: 0;
  left: calc(50% - 78.5px);
  line-height: 0.934rem;
  width: 11.869rem;
  height: 1.344rem;
}
.group-icon9 {
  position: absolute;
  height: 80%;
  width: 9.38%;
  top: 9.77%;
  right: 90.62%;
  bottom: 10.23%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.co-founder-and-coo-parent {
  position: absolute;
  top: 2.688rem;
  left: calc(50% - 111px);
  width: 13.925rem;
  height: 1.344rem;
  color: var(--color-gray-200);
}
.krishnamurthy-nt-parent {
  position: absolute;
  top: 11.013rem;
  left: calc(50% - 164px);
  width: 20.5rem;
  height: 8.063rem;
}
.group-child41 {
  position: absolute;
  top: 0;
  left: calc(50% - 59.4px);
  border-radius: 0 0 44.83px 44.83px;
  width: 7.563rem;
  height: 10.275rem;
  overflow: hidden;
}
.group-parent36 {
  position: absolute;
  top: 0;
  left: calc(50% - 164.35px);
  width: 20.5rem;
  height: 19.075rem;
}
.rectangle-parent16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.544rem;
  height: 21.338rem;
}
.group-parent30,
.team-inner {
  position: absolute;
  left: 0;
  width: 75rem;
  height: 45.681rem;
}
.group-parent30 {
  top: 0;
}
.team-inner {
  top: 18.488rem;
}
.lucidas-core5 {
  position: absolute;
  top: 59.3%;
  left: calc(50% - 214px);
  letter-spacing: 0.02em;
}
.contact-us-22 {
  position: absolute;
  top: 0;
  left: calc(50% - 40px);
  font-size: var(--font-size-7xl);
  font-weight: 600;
  display: inline-block;
  width: 4.938rem;
  height: 2rem;
}
.lucidas-core-missions-and-container,
.team-child {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 214px);
  width: 26.75rem;
}
.team-child {
  height: 8.38%;
  bottom: 91.62%;
  font-size: var(--font-size-9xl);
}
.lucidas-expert-team {
  position: absolute;
  top: 8.25rem;
  left: calc(50% - 523px);
  font-size: var(--font-size-xl);
  letter-spacing: 0.08em;
  line-height: 2rem;
  display: inline-block;
  color: var(--color-gray-600);
  text-align: center;
  width: 65.375rem;
}
.team {
  position: absolute;
  top: 121.688rem;
  left: 2.5rem;
  width: 75rem;
  height: 64.169rem;
}
.group-child42 {
  position: absolute;
  height: 4.65%;
  width: 100.4%;
  top: 97.67%;
  right: -0.2%;
  bottom: -2.33%;
  left: -0.2%;
  border-top: 2px solid var(--color-cornflowerblue-100);
  box-sizing: border-box;
}
.celebrations {
  top: 16.28%;
  left: 43.37%;
  font-weight: 600;
}
.celebrations,
.fun-more,
.work-life {
  position: absolute;
  line-height: 1.75rem;
}
.fun-more {
  top: 16.28%;
  left: 80.72%;
  font-weight: 600;
}
.work-life {
  top: calc(50% - 14.5px);
  left: calc(50% - 51px);
}
.work-life-wrapper {
  width: 100%;
  right: 0;
  background-color: var(--color-cornflowerblue-100);
  border: 2px solid var(--color-cornflowerblue-100);
  box-sizing: border-box;
  overflow: hidden;
}
.celebrations-parent,
.frame-container,
.line-group,
.work-life-wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.frame-container {
  width: 27.31%;
  right: 72.69%;
  font-size: var(--font-size-3xl);
  color: var(--white);
}
.celebrations-parent,
.line-group {
  width: 98.42%;
  right: 1.58%;
}
.line-group {
  height: 4.03%;
  width: 43.43%;
  right: 28.58%;
  bottom: 95.97%;
  left: 27.98%;
  font-size: var(--font-size-lg);
}
.our {
  font-weight: 600;
}
.b1 {
  font-family: var(--font-mulish);
}
.brainstorming1 {
  font-weight: 700;
}
.brainstorming {
  font-size: var(--font-size-17xl);
}
.our-brainstorming {
  position: absolute;
  top: 0;
  left: 0;
}
.rewards-recognitions-2024 {
  position: absolute;
  top: 66.39%;
  left: 0;
  font-weight: 500;
}
.our-brainstorming-parent {
  position: absolute;
  height: 11.14%;
  width: 38.97%;
  top: 13.11%;
  right: 61.03%;
  bottom: 75.75%;
  left: 0;
}
.individually-we-are,
.where-our-hard {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 31.25rem;
}
.individually-we-are {
  top: 0;
}
.where-our-hard {
  top: 5.125rem;
}
.individually-we-are-one-drop-parent {
  position: absolute;
  height: 12.92%;
  width: 42.92%;
  top: 29.96%;
  right: 55.62%;
  bottom: 57.12%;
  left: 1.46%;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-700);
}
.collaborative-vibes,
.group-child43 {
  position: absolute;
  top: 57.96%;
  left: 35.97%;
}
.group-child43 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child44,
.group-child45 {
  position: absolute;
  height: 2.4%;
  width: 16.57%;
  top: 90.72%;
  right: 75.69%;
  bottom: 6.89%;
  left: 7.73%;
  background-color: var(--color-cornflowerblue-100);
}
.group-child45 {
  width: 67.96%;
  right: 7.73%;
  left: 24.31%;
  background-color: var(--white);
}
.rectangle-parent17 {
  position: absolute;
  height: 31.27%;
  width: 46.61%;
  top: 13.11%;
  right: 5.75%;
  bottom: 55.62%;
  left: 47.64%;
}
.aboutustabs-child,
.aboutustabs-item {
  height: 28%;
  width: 31.24%;
  top: 65.64%;
  bottom: 6.37%;
  object-fit: cover;
}
.aboutustabs-child {
  position: absolute;
  right: 67.3%;
  left: 1.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.aboutustabs-item {
  right: 33.65%;
  left: 35.11%;
}
.aboutustabs-child1,
.aboutustabs-inner,
.aboutustabs-item {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.aboutustabs-inner {
  height: 28%;
  width: 31.24%;
  top: 65.64%;
  right: 0;
  bottom: 6.37%;
  left: 68.76%;
  object-fit: cover;
}
.aboutustabs-child1 {
  height: 4.12%;
  width: 3.78%;
  top: 95.88%;
  right: 1.97%;
  bottom: 0;
  left: 94.25%;
}
.aboutustabs {
  position: absolute;
  top: 48.188rem;
  left: 4.688rem;
  width: 72.813rem;
  height: 66.75rem;
  font-size: var(--font-size-13xl);
}
.lorem-ipsum-dolor,
.lorem-ipsum-dolor1 {
  position: absolute;
  top: 4.875rem;
  left: calc(50% - 318.5px);
  display: inline-block;
  width: 35.563rem;
}
.lorem-ipsum-dolor1 {
  top: 7.938rem;
  left: calc(50% - 423.5px);
  width: 48.625rem;
}
.testimonial {
  position: absolute;
  top: 0;
  left: calc(50% - 132.5px);
  font-size: var(--font-size-17xl);
  color: var(--color-cornflowerblue-100);
}
.group-child46,
.group-child47 {
  position: absolute;
  top: 0;
  width: 2.75rem;
  height: 2.75rem;
}
.group-child46 {
  left: 9.875rem;
}
.group-child47 {
  left: 0;
  object-fit: contain;
}
.b2,
.group-parent37 {
  position: absolute;
  top: 0.5rem;
  left: 5.25rem;
}
.group-parent37 {
  top: 38.563rem;
  left: 29.063rem;
  width: 12.625rem;
  height: 2.75rem;
  font-size: var(--font-size-3xl-4);
  color: var(--color-cornflowerblue-100);
}
.lorem-ipsum-dolor2,
.lorem-ipsum-dolor3,
.lorem-ipsum-dolor4 {
  position: absolute;
  top: 4.063rem;
  left: calc(50% - 137.5px);
  display: inline-block;
  width: 19.438rem;
}
.lorem-ipsum-dolor3,
.lorem-ipsum-dolor4 {
  top: 7.125rem;
}
.lorem-ipsum-dolor4 {
  top: 10.188rem;
}
.lorem-ipsum {
  top: 17.875rem;
  left: calc(50% - 45.5px);
  font-size: var(--font-size-lg);
  width: 7.688rem;
}
.b3,
.lorem-ipsum,
.lorem-ipsum-dolor5 {
  position: absolute;
  display: inline-block;
}
.lorem-ipsum-dolor5 {
  top: 19.813rem;
  left: calc(50% - 45.5px);
  font-size: var(--font-size-lg);
  width: 9.813rem;
}
.b3 {
  top: 0;
  left: calc(50% - 173.5px);
  font-size: var(--font-size-61xl);
  color: var(--color-cornflowerblue-100);
  width: 2.25rem;
  height: 5rem;
}
.group-child48,
.star-icon {
  position: absolute;
  top: 13.75rem;
  left: 2.25rem;
  width: 1.5rem;
  height: 1.5rem;
}
.group-child48 {
  left: 4.375rem;
}
.ellipse-icon,
.group-child49,
.group-child50,
.group-child51 {
  position: absolute;
  top: 13.75rem;
  left: 6.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.ellipse-icon,
.group-child50,
.group-child51 {
  left: 8.625rem;
}
.ellipse-icon,
.group-child51 {
  left: 10.75rem;
}
.ellipse-icon {
  top: 17.063rem;
  left: 2.25rem;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
}
.lorem-ipsum-dolor-sit-amet-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 565.5px);
  width: 21.688rem;
  height: 21.563rem;
}
.lorem-ipsum-dolor-sit-amet-container,
.lorem-ipsum-dolor-sit-amet-group {
  position: absolute;
  top: 0;
  left: calc(50% - 173.5px);
  width: 21.688rem;
  height: 21.563rem;
}
.lorem-ipsum-dolor-sit-amet-container {
  left: calc(50% + 218.5px);
}
.group-parent38 {
  position: absolute;
  top: 14.313rem;
  left: calc(50% - 565.5px);
  width: 70.688rem;
  height: 21.563rem;
  font-size: var(--font-size-3xl);
}
.lorem-ipsum-dolor-sit-amet-co-parent {
  position: absolute;
  top: 198.356rem;
  left: calc(50% - 566px);
  width: 70.688rem;
  height: 41.313rem;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-700);
}
.group-child64 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-cornflowerblue-100);
  width: 13.438rem;
  height: 11.438rem;
}
.b6,
.case-studies {
  position: absolute;
  top: 2.938rem;
  left: calc(50% - 67.5px);
  line-height: 1.75rem;
}
.b6 {
  top: 6.688rem;
  left: calc(50% - 35.5px);
  font-size: var(--font-size-21xl);
}
.rectangle-parent18 {
  position: absolute;
  top: 0;
  left: 19.688rem;
  width: 13.438rem;
  height: 11.438rem;
}
.innovations {
  position: absolute;
  top: 2.938rem;
  left: calc(50% - 61.5px);
  line-height: 1.75rem;
}
.rectangle-parent19 {
  position: absolute;
  top: 0;
  left: 39.375rem;
  width: 13.438rem;
  height: 11.438rem;
}
.b8,
.projects {
  position: absolute;
  top: 2.938rem;
  left: calc(50% - 42.5px);
  line-height: 1.75rem;
}
.b8 {
  top: 6.688rem;
  left: calc(50% - 47.5px);
  font-size: var(--font-size-21xl);
}
.rectangle-parent20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 13.438rem;
  height: 11.438rem;
}
.group-parent39 {
  position: absolute;
  top: 30.688rem;
  left: 13.625rem;
  width: 52.813rem;
  height: 11.438rem;
  font-size: var(--font-size-3xl);
  color: var(--white);
}
.lucidas-chat-bot1 {
  position: absolute;
  top: 0.625rem;
  left: 4.719rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 11.581rem;
  height: 1.875rem;
}
.avatar-icon1 {
  position: absolute;
  top: 0;
  left: 0.006rem;
  border-radius: 118.51px;
  width: 2.963rem;
  height: 2.963rem;
  object-fit: cover;
}
.lucidas-chat-bot-group {
  position: absolute;
  top: calc(50% - 28.25px);
  left: 1.875rem;
  width: 2.981rem;
  height: 2.981rem;
}
.chatbot1 {
  position: absolute;
  top: 50.138rem;
  left: 51.763rem;
  box-shadow: -4.4px -6.7px 4.44px rgba(121, 124, 208, 0.4),
    4.4px 6.7px 4.44px rgba(121, 124, 208, 0.4);
  border-radius: var(--br-3xl-2);
  background-color: var(--color-cornflowerblue-100);
  width: 25.731rem;
  height: 7.281rem;
  overflow-y: auto;
  font-size: var(--font-size-5xl-4);
  color: var(--white);
  font-family: var(--font-lato);
}
.home1 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 31.5px);
  line-height: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 1.25rem;
  cursor: pointer;
}
.list-item-link5 {
  position: absolute;
  width: calc(100% - 768px);
  top: 0;
  right: 47.813rem;
  left: 0.188rem;
  border-radius: var(--br-xl);
  height: 2.875rem;
  overflow: hidden;
}
.about-us1 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 39.5px);
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.875rem;
  height: 1.25rem;
  cursor: pointer;
}
.list-item-link-item {
  position: absolute;
  top: 2.125rem;
  left: 2.813rem;
  border-radius: 50%;
  background-color: var(--color-cornflowerblue-100);
  width: 0.75rem;
  height: 0.75rem;
}
.list-item-link6 {
  position: absolute;
  width: calc(100% - 766px);
  top: 0;
  right: 35.875rem;
  left: 12rem;
  border-radius: var(--br-11xl);
  height: 2.875rem;
  overflow: hidden;
  color: var(--color-cornflowerblue-100);
}
.solutions1 {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 42.5px);
  line-height: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.313rem;
  height: 1.25rem;
  cursor: pointer;
}
.list-item-link7 {
  position: absolute;
  top: 0;
  left: calc(50% - 51.5px);
  border-radius: var(--br-11xl);
  width: 6.563rem;
  height: 2.875rem;
  overflow: hidden;
}
.resources1 {
  position: absolute;
  top: calc(50% - 13.5px);
  left: calc(50% - 42.5px);
  line-height: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.313rem;
  height: 1.25rem;
  cursor: pointer;
}
.list-item-link8 {
  position: absolute;
  top: -0.062rem;
  left: calc(50% + 141.5px);
  border-radius: var(--br-11xl);
  width: 6.563rem;
  height: 2.938rem;
  overflow: hidden;
}
.contact1 {
  position: absolute;
  top: 0.625rem;
  left: calc(50% - 40px);
  line-height: 1.25rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1.25rem;
}
.list-item-link9 {
  position: absolute;
  width: calc(100% - 769px);
  top: 0;
  right: 0;
  left: 48.063rem;
  border-radius: var(--br-11xl);
  height: 2.875rem;
  overflow: hidden;
}
.divnavbar1 {
  position: absolute;
  top: calc(50% - 19px);
  left: 22.938rem;
  width: 54.313rem;
  height: 2.5rem;
}
.divnavbar-group,
.link-logopng1 {
  position: absolute;
  overflow: hidden;
}
.link-logopng1 {
  width: calc(100% - 1117px);
  top: calc(50% - 47px);
  right: 67.313rem;
  left: 2.5rem;
  max-width: 100%;
  height: 6.063rem;
  object-fit: cover;
}
.divnavbar-group {
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(121, 124, 208, 0.3);
  background-color: var(--white);
  width: 80rem;
  height: 7.5rem;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-karla);
}
.lucida-aboutus {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 261.563rem;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base-9);
  color: var(--color-cornflowerblue-100);
  font-family: var(--font-mulish);
}
