.group-child13 {
  position: absolute;
  height: 4.65%;
  width: 100.4%;
  top: 97.67%;
  right: -0.2%;
  bottom: -2.33%;
  left: -0.2%;
  border-top: 2px solid var(--color-cornflowerblue-100);
  box-sizing: border-box;
}
.celebrations {
  top: 16.28%;
  left: 43.37%;
  font-weight: 600;
}
.celebrations,
.fun-more,
.work-life {
  position: absolute;
  line-height: 28px;
}
.fun-more {
  top: 16.28%;
  left: 80.72%;
  font-weight: 600;
}
.work-life {
  top: calc(50% - 14.5px);
  left: calc(50% - 51px);
}
.frame-wrapper2,
.work-life-wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.work-life-wrapper {
  width: 100%;
  right: 0;
  background-color: var(--color-cornflowerblue-100);
  border: 2px solid var(--color-cornflowerblue-100);
  box-sizing: border-box;
  overflow: hidden;
}
.frame-wrapper2 {
  width: 27.31%;
  right: 72.69%;
  font-size: var(--font-size-3xl);
  color: var(--white);
}
.celebrations-parent,
.line-container {
  position: absolute;
  height: 100%;
  width: 98.42%;
  top: 0;
  right: 1.58%;
  bottom: 0;
  left: 0;
}
.line-container {
  height: 4.03%;
  width: 43.43%;
  right: 28.58%;
  bottom: 95.97%;
  left: 27.98%;
  font-size: var(--font-size-lg);
}
.our {
  font-weight: 600;
}
.b7 {
  font-family: var(--font-mulish);
}
.brainstorming1 {
  font-weight: 700;
}
.brainstorming {
  font-size: var(--font-size-17xl);
}
.our-brainstorming {
  position: absolute;
  top: 0;
  left: 0;
}
.our-brainstorming-parent {
  position: absolute;
  height: 11.14%;
  width: 38.97%;
  top: 13.11%;
  right: 61.03%;
  bottom: 75.75%;
  left: 0;
}
.individually-we-are,
.where-our-hard {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 500px;
}
.where-our-hard {
  top: 82px;
}
.individually-we-are-one-drop-parent {
  position: absolute;
  height: 12.92%;
  width: 42.92%;
  top: 29.96%;
  right: 55.62%;
  bottom: 57.12%;
  left: 1.46%;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
}
.collaborative-vibes,
.group-child14 {
  position: absolute;
  top: 57.96%;
  left: 35.97%;
}
.group-child14 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child15,
.group-child16 {
  position: absolute;
  height: 2.4%;
  width: 16.57%;
  top: 90.72%;
  right: 75.69%;
  bottom: 6.89%;
  left: 7.73%;
  background-color: var(--color-cornflowerblue-100);
}
.group-child16 {
  width: 67.96%;
  right: 7.73%;
  left: 24.31%;
  background-color: var(--white);
}
.rectangle-parent4 {
  position: absolute;
  height: 31.27%;
  width: 46.61%;
  top: 13.11%;
  right: 5.75%;
  bottom: 55.62%;
  left: 47.64%;
}
.property-1group-244316-child,
.property-1group-244316-item {
  height: 28%;
  width: 31.24%;
  top: 65.64%;
  bottom: 6.37%;
  object-fit: cover;
}
.property-1group-244316-child {
  position: absolute;
  right: 67.3%;
  left: 1.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.property-1group-244316-item {
  right: 33.65%;
  left: 35.11%;
}
.property-1group-244316-child1,
.property-1group-244316-inner,
.property-1group-244316-item {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.property-1group-244316-inner {
  height: 28%;
  width: 31.24%;
  top: 65.64%;
  right: 0;
  bottom: 6.37%;
  left: 68.76%;
  object-fit: cover;
}
.property-1group-244316-child1 {
  height: 4.12%;
  width: 3.78%;
  top: 95.88%;
  right: 1.97%;
  bottom: 0;
  left: 94.25%;
}
.group-child17,
.property-1group-244316 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 1165px;
  height: 1068px;
}
.group-child17 {
  height: 4.55%;
  width: 100.4%;
  top: 97.73%;
  right: -0.2%;
  bottom: -2.27%;
  left: -0.2%;
  border-top: 2px solid var(--color-cornflowerblue-100);
  box-sizing: border-box;
}
.celebrations1 {
  position: absolute;
  top: calc(50% - 14.5px);
  left: calc(50% - 66px);
  line-height: 28px;
}
.frame-wrapper3 {
  position: absolute;
  height: 97.73%;
  width: 30.92%;
  top: 0;
  right: 32.33%;
  bottom: 2.27%;
  left: 36.75%;
  font-size: var(--font-size-3xl);
  color: var(--white);
}
.fun-more1,
.work-life1 {
  position: absolute;
  line-height: 28px;
  font-weight: 600;
}
.fun-more1 {
  top: 18.18%;
  left: 80.72%;
}
.work-life1 {
  top: calc(50% - 14.5px);
  left: calc(50% - 51px);
}
.work-life-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.frame-wrapper4,
.line-parent1 {
  position: absolute;
  height: 97.73%;
  width: 27.31%;
  top: 2.27%;
  right: 72.69%;
  bottom: 0;
  left: 0;
}
.line-parent1 {
  height: 4.12%;
  width: 43.43%;
  top: -0.09%;
  right: 27.38%;
  bottom: 95.97%;
  left: 29.18%;
  font-size: var(--font-size-lg);
}
.townhall-meet {
  position: absolute;
  top: 66.39%;
  left: 0;
  font-weight: 500;
}
.our-celebrations-parent {
  position: absolute;
  height: 11.14%;
  width: 26.44%;
  top: 13.11%;
  right: 73.56%;
  bottom: 75.75%;
  left: 0;
}
.opportunities-to-recognize {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.opportunities-to-recognize-s-wrapper {
  position: absolute;
  height: 54.3%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 45.7%;
  left: 0;
}
.group-parent22,
.welcome-new-hires-share-compa-wrapper {
  position: absolute;
  height: 40.72%;
  width: 100%;
  top: 59.28%;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-parent22 {
  height: 20.69%;
  width: 42.92%;
  top: 27.06%;
  right: 55.62%;
  bottom: 52.25%;
  left: 1.46%;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
}
.festive-vibes {
  position: absolute;
  top: 57.96%;
  left: 39.91%;
}
.group-child21,
.property-1group-244317 {
  position: absolute;
  top: 20px;
  left: 1385px;
  width: 1165px;
  height: 1068px;
}
.group-child21 {
  height: 4.55%;
  width: 96.39%;
  top: 97.73%;
  right: 3.8%;
  bottom: -2.27%;
  left: -0.19%;
  border-top: 2px solid var(--color-cornflowerblue-100);
  box-sizing: border-box;
}
.celebrations4 {
  position: absolute;
  top: calc(50% - 14.5px);
  left: calc(50% - 53px);
  line-height: 28px;
  font-weight: 600;
}
.frame-wrapper5,
.frame-wrapper6 {
  position: absolute;
  height: 97.73%;
  width: 29.22%;
  top: 0;
  right: 36.05%;
  bottom: 2.27%;
  left: 34.72%;
}
.frame-wrapper6 {
  top: 2.27%;
  right: 0;
  bottom: 0;
  left: 70.78%;
  font-size: var(--font-size-3xl);
  color: var(--white);
}
.frame-wrapper7,
.group-parent23,
.line-parent2 {
  position: absolute;
  height: 97.73%;
  width: 25.81%;
  top: 2.27%;
  right: 74.19%;
  bottom: 0;
  left: 0;
}
.group-parent23,
.line-parent2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}
.line-parent2 {
  height: 4.12%;
  width: 45.24%;
  right: 26.78%;
  bottom: 95.88%;
  left: 27.98%;
  font-size: var(--font-size-lg);
}
.our-giggles-parent {
  position: absolute;
  height: 11.14%;
  width: 41.8%;
  top: 13.11%;
  right: 58.2%;
  bottom: 75.75%;
  left: 0;
}
.a-day-just {
  position: absolute;
  width: 100%;
  top: 56.52%;
  left: 0;
  display: inline-block;
}
.excursion-vibes {
  position: absolute;
  top: 57.96%;
  left: 38.2%;
}
.property-1group-244318 {
  position: absolute;
  top: 20px;
  left: 2750px;
  width: 1165px;
  height: 1068px;
}
.aboutustabs {
  width: 3935px;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  max-width: 100%;
  height: 1108px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-cornflowerblue-100);
  font-family: var(--font-mulish);
}
