.group-parent13 {
    position: absolute;
    height: 69.78%;
    width: 95.5%;
    top: 9.5rem;
    right: 0;
    bottom: 0;
    left: 2%;
    font-size: var(--font-size-lg-5);
    line-height: 2rem;
  }
.frame-wrapper,
.group-frame,
.offerings-parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.image-21-icon,
.image-22-parent {
  position: absolute;
  height: 28.62%;
  width: 95.56%;
  top: 0;
  right: 4.23%;
  bottom: 71.38%;
  left: 0.2%;
}
.group-parent12,
.image-22-icon {
  position: absolute;
  height: 15.91%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 84.09%;
  left: 0;
}
.image-22-icon {
  height: 27.73%;
  width: 28.9%;
  right: 71.1%;
  bottom: 72.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.llm-text-analysis-using-gen-ai-parent {
    position: absolute;
    height: 59%;
    width: 100%;
    top: 41%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .experience-advanced-text,
.llm-text-analysis {
  position: absolute;
  width: 91.98%;
  top: 1.25%;
  left: 8.02%;
  font-weight: 600;
  display: inline-block;
}
.experience-advanced-text {
    top: 65.5%;
    font-weight: 500;
    color: var(--color-gray-700);
    line-height: 1.5rem !important;
  }
  .experience-advanced-text10{
    position: absolute;
    width: 103.67%;
    top: 118.96%;
    left: 7.27%;
    font-weight: 500;
    color: var(--color-gray-700);
    display: inline-block;
    line-height: 1.5rem !important;
    font-size: 1.156rem !important;
  }
  .image-21-icon1,
.image-21-parent {
  position: absolute;
  height: 28.7%;
  width: 99.8%;
  top: 28.63%;
  right: 0;
  bottom: 35.67%;
  left: 0.2%;
}
.image-21-icon {
    height: 27.94%;
    width: 24.95%;
    right: 75.05%;
    bottom: 72.06%;
    left: 0;
    top:40%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .group-parent15 {
    position: absolute;
    height: 58.82%;
    width: 100%;
    top: 41.18%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .image-video-analysis-platfor-parent {
    position: absolute;
    height: 30%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 70%;
    left: 0;
  }
  .image-video {
    position: absolute;
    width: 96.32%;
    top: 214.17%;
    left: 7.68%;
    font-weight: 600;
    display: inline-block;
  }
  .group-icon40 {
    position: absolute;
    height: 34%;
    width: 5.25%;
    top: 4%;
    right: 94.75%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon41 {
    position: absolute;
    height: 100%;
    width: 5.25%;
    top: 237%;
    right: 94.75%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .unlock-value-for {
    position: absolute;
    width: 88.08%;
    top: 131.5%;
    left: 7.68%;
    font-weight: 500;
    color: var(--color-gray-700);
    display: inline-block;
    line-height: 1.5rem !important;
  }
  .group-parent16,
.group-parent17 {
  position: absolute;
  height: 58.82%;
  width: 99.79%;
  top: 104.18%;
  right: 0;
  bottom: 0;
  left: 0.21%;
  font-size: var(--font-size-lg-5);
  font-family: var(--font-mulish);
}
.group-parent16 {
  height: 28.7%;
  width: 95.77%;
  top: 51.3%;
  right: 4.23%;
  left: 0;
  font-size: var(--font-size-3xl-3);
  font-family: var(--font-lemon);
}
.image-21-group {
    position: absolute;
    height: 27.94%;
    width: 48.32%;
    top: 62%;
    right: 51.68%;
    bottom: 72.06%;
    left: 0;
  }
  .image-21-icon1 {
    height: 82.63%;
    width: 10.5%;
    top: 120%;
    right: 89.5%;
    bottom: 17.37%;
    left: -5px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .auto-ui-code {
    position: absolute;
    top: 123.68%;
    left: 0.01%;
    background: linear-gradient(90.41deg, #812775 1.45%, #747576 3.82%, #747576);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .designgeneratedeployeffortl {
    position: absolute;
    width: 91.98%;
    top: 158.17%;
    left: 8.02%;
    font-weight: 600;
    display: inline-block;
  }
  .group-icon42 {
    position: absolute;
    height: 100%;
    width: 5.49%;
    top: 178%;
    right: 94.51%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-child9 {
    position: absolute;
    height: 134.46%;
    width: 0.49%;
    top: 0.06%;
    right: 99.75%;
    bottom: -0.53%;
    left: -0.25%;
    border-right: 5px solid var(--color-cornflowerblue-400);
    box-sizing: border-box;
  }
  .primary-button {
    position: absolute;
    height: 18.61%;
    width: 15.87%;
    top: 93.39%;
    right: 14.24%;
    bottom: 0;
    left: 72.89%;
    cursor: pointer;
    font-size: var(--font-size-xl);
    color: var(--white);
    font-family: var(--font-inter);
  }
  .vector-icon30 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .explore10 {
    position: absolute;
    height: 41.82%;
    width: 55.73%;
    top: 30.09%;
    left: 27.14%;
    font-weight: 500;
    display: inline-block;
  }
  .group-child8,
.group-wrapper1 {
  position: absolute;
  height: 100%;
  width: 48.72%;
  top: 0;
  right: 47.45%;
  bottom: 0;
  left: 3.83%;
}
.group-child8 {
  height: 100.26%;
  width: 47.83%;
  top: 0;
  right: 0;
  bottom: 18.36%;
  left: 56.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}